<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

    <style>
           body {
            background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
            margin-top: 50px;
            margin-left: 100px;
        }
    </style>
</head>
<body>
     <div class="container">
        <div class="col-md-offset-3 col-md-5">
            <h2 class="page-header text-primary text-center">Customer Page</h2>
            <h3 class="text-success">Welcome : {{session["name"]}}</h3>
            <hr>
            <a href="{{url_for('logout')}}" class="btn btn-primary btn-block">Logout</a>
        </div>
     </div>
</body>
</html>
<script type="module">
    import confetti from 'https://cdn.skypack.dev/canvas-confetti';
    confetti();
</script>